<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    名称空间：namespace
    id是唯一标识
    resultType是返回结果的类型Blog
    -->
<mapper namespace="com.xdw.Mapper.UserMapper">

    <select id="selectAll" resultType="com.xdw.pojo.User">
        select * from tb_user;
    </select>

    <select id="selectById" resultType="user">
        select *
        from tb_user
        where id=#{id};
    </select>
</mapper>